{{ define "main" }}
  <div class="page-layout{{ if gt (len .Fragments.Headings) 0 }} has-toc{{ end }}">
    {{ partial "page-toc.html" . }}
    <div class="page-content">
      {{ partial "page-back-link.html" (dict "page" . "variant" "top") }}
      {{ if not .IsHome }}
        <h1>{{ partial "page-title-text.html" . }}</h1>
      {{ end }}
      {{ .Content }}

      {{ if and .Pages (ne .Params.showList false) }}
        <ul>
          {{ range .Pages }}
            <li><a href="{{ .RelPermalink }}">{{ partial "page-title-text.html" . }}</a></li>
          {{ end }}
        </ul>
      {{ end }}

      {{ partial "page-back-link.html" (dict "page" . "variant" "bottom") }}
    </div>
  </div>
{{ end }}
